.jumbotron {
    background-image: url('http://superwall.us/wallpaper/matrix_blue_screen_raining_entertainment-oDUw.jpg');
    height: 960px;
}
.navbar {
    margin: auto;
    width: 500px;
    background-color: black;
}

.navbar-brand {
    margin: auto;
    color: white;
}

.navbar-brand.white {
    color: white;
}

.container.gamebox {
    width: 400px;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    height: 300px;

}

.gamedis {
    margin: auto;

}

.guessletter {
    margin: auto;
}

.row {
    height: 33%;
}